h1,h2,h3, .skip{
    font-family: 'Space Mono', monospace;
}
body{
    background-color:#f2efe8;
    padding: 15px;
    color: #363538;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    border-bottom: 15px solid #5fb9b0;
}
.night_mode{
    background-color: #363538;
    color: #F6f6f6;
}
ul, li,p{
    font-family: 'Montserrat', sans-serif;
    padding: 15px 15px 15px 15px;
    line-height: 1.5;
}
#asdf{
    position: absolute;
    right:15px;
    width: 100px;
}
.nav_bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
  }
a{
    color: #8d8c8a;
}
.index{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 15px 15px 15px;
}
.rHead{
    text-decoration: underline #8d8c8a;
    padding-bottom: 10px;
    position: fixed;
    margin-left: 0px;
    margin-bottom: 0px;
}

.r_section_head{
    border: 1px dashed #8d8c8a;
    padding-left: 5px;
}
.section_head{
    text-decoration: underline;
}
.container{
    display:flex;
    padding: 100px 100px 100px 100px;
    max-width: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
}
.demo_container{
    display:flex;
    padding: 15px 15px 15px 15px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 30px;
}
.row{display:flex;flex-direction:row;flex-wrap:wrap;width:100%;}
.image{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.bio{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.box li:hover, a:hover{
    background:#8c8880;
    color: #F6f6f6;
}
.class_title{
    font-weight: bold;
}
iframe{
    max-height: 800px;
    height: 500px;
    width: 850px;
    border: 4px solid #bef992;
    background-color: white;
}
video{
    border:4px solid #bef992;
    height: 532px;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    overflow: hidden;
        /*Your code here*/
}
.skip a:focus{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: 0px;
    overflow: visible;
    }

.button{
    box-shadow: 0 3px gray;
    position: absolute;
    right: 30px;
    top: 60px;
    background-color: #f6c90e;
    color: black;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
}

.button:active{
    transform:translateY(4px);
}

form{
    border: 3px solid #8d8c8a;
    margin: 0 auto auto auto;
    width: 100%;
}

legend{
    font-size: 125%;
    font-weight: 900;
}

label{
    display: inline-block;
    margin-right:10px;
    width:15%;
  }
input {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
span{
margin-left:20%;
font-family: italic;
font-weight: bold;
}
.resume_box{
    display: grid;
    grid-template-columns: 1fr;
}
textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.parallax{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/thompson.jpg");
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 450px;
}
.image1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-left: 0px;
}
.home_flip_card{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
}
.flip-card{
    background-color: transparent;
    margin: 0 0 0 150px;
    width: 300px;
    height: 300px;
    border: 1px solid  #8d8c8a;
    perspective: 1000px;
    display: inline-flex;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
} 
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    text-align: center;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}








.flip-card-msk{
    background-color: transparent;
    margin: 0 0 0 0;
    width: 300px;
    height: 500px;
    border: 1px solid  #8d8c8a;
    perspective: 1000px;
}

.flip-card-inner-msk{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-msk:hover .flip-card-inner-msk,
.flip-card-msk:focus-within .flip-card-inner-msk,
.flip-card-msk:active .flip-card-inner-msk,
.flip-card-msk:focus .flip-card-inner-msk {
  transform: rotateY(180deg);
} 
.flip-card-front-msk, .flip-card-back-msk {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    text-align: center;
}

.flip-card-front-msk {
    background-color: #bbb;
    color: black;
}

.flip-card-back-msk {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.img__wrap {
    position: relative;
    height: auto;
    width: 500px;
    border-right: 10px solid #5fb9b0;
    border-bottom: 10px solid #5fb9b0;
    background-color: #413d65;
    padding-right: 30px;
    padding-bottom: 30px;
    box-shadow: 1px 2px #8c8880;
    -webkit-box-shadow: 1px 2px #8c8880;
  }
.img_head{
    padding-left: 5px;
    padding-bottom:5px;
    font-size: 24px;
    color: #f2efe8
}
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(67, 68, 71, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
    font-size: 20px;
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}

/*Demos slideshow*/
.slideshow_container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides{
    display:none;
}

.previous, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 320px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.slide_number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media  screen and (min-width: 851px){

    .nav_bar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: center;
    }

    .index{
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 15px 15px 15px;
    }

    .resume_box{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 15px 15px 15px 15px;
        letter-spacing: 2px;
    }

    .flip-card{
        background-color: transparent;
        margin: 0 0 0 150px;
        width: 500px;
        height: 500px;
        border: 1px solid  #8d8c8a;
        perspective: 1000px;
        display: inline-flex;
    }
    
    .flip-card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-card:hover .flip-card-inner,
    .flip-card:focus-within .flip-card-inner,
    .flip-card:active .flip-card-inner,
    .flip-card:focus .flip-card-inner {
      transform: rotateY(180deg);
    } 
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
    }
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    
    .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }
    .image1{
        width: 500px;
        height: 500px;
    }
    .container{
        display:flex;
        padding: 100px 100px 100px 100px;
        max-width: fit-content;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        gap: 10px;
    }
}


@media (prefers-reduced-motion:reduce){
    .button:active{
        transform: none;
    }
   }
